@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

nav  {
  width: 100%;
  background-color: #dfe0dc;
  display: flex;
  justify-content: right;
  margin: 0;
}

footer {
  background-color: #dfe0dc;
  color: black;
  padding: auto;
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
  color: black;
  font-weight: 400;
  line-height: 1.58;
  letter-spacing: -.003em;
  font-size: 20px;
  background-color: white;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 38px;
  line-height: 1.15;
  letter-spacing: -.02em;
  color: black;
  -webkit-font-smoothing: antialiased;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 900;
  font-style: bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: -.02em;
  color: black;

}

h4 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
  line-height: 1;
  letter-spacing: -.02em;
  color: black;
  -webkit-font-smoothing: antialiased;
}

hr {
  border-top: 2px solid #333;
  border-left: 0;
  border-right: 0;
  margin: 20px;
  top: 20%;
}

ul {
  display: grid;
  gap: 0;
}
li {
  padding-top: 0;
  text-align: left;
}
dl {
  display: grid;
  gap: 5px;
  padding: 0;
}
dt {
  padding: 3px;
}
dd {
  margin: 5px 0;
}
.intro {
  text-align: center;
  margin-top: 30px;
  margin-bottom: -30px;
}
.set1 {
  background-color: white;
  margin-top: 70px;
  height: 500px;
  text-align: center;
}
.set1 img {
  position: absolute;
  top: 55%; 
  width: 200px;
  height: 200px;
  margin: 10px; 
  transform: translateX(-50%) translateY(-20%);
}
.image-divider {
  position: absolute;
  top: 580px; 
  left: 50%;
  transform: translateX(-50%);
  width: 80%; 
  border: none; 
  border-top: 1px solid #274442;
}
.text-above-image {
  position: absolute;
  top: 900;
  left: 0;
  line-height: 1;
  width: 100%; 
  text-align: center; 
}
.image-container {
  position: relative;
}
.image-left {
  left: 30%;
  border-radius: 25px;
}
.image-center {
  left: 50%;
  border-radius: 25px;
}
.image-right {
  right: 15%;
  border-radius: 25px;
}
.set2 {
  background-color: white;
  padding: 0%;
  height: 900px;
  text-align: center;
  position: relative;
}
.set3 {
  background-color: white;
  height: 250px;
  text-align: center;
}
.contact {
  background-color: wheat;
  padding: 20px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #5D4954;
}
.three-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}
.card {
  height: 600px;
  border-radius: 25px;*/
  width: 200px;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
}

.card img {
  width: 450px;
  height: 350px;
  object-fit: cover;
  display: block; /* Remove any extra spacing below the image */
  margin: 0 auto;
  padding-top: 0px;
  padding-bottom: 10px;
  border-radius: 25px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 gray;
  transition: 0.3s ease;
} 

.section-heading {
  font-size: 30px; 
  padding: 0; 
  margin: 0;
}
.section-content {
  padding: 0; 
  margin: 0;
}

input[type=text] { 
  border: none;
  border-bottom: 2px solid #274442;
}
input[type=email] { 
  border: none;
  border-bottom: 2px solid #274442;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #274442;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
}

.one-col {
  max-width: 200px;
  margin: 0 auto;
  padding: 20px;
}
